.blurFade {
  opacity: 0;
  transform: translateY(6px);
  filter: blur(6px);
  transition:
    opacity 0.4s ease-out,
    transform 0.4s ease-out,
    filter 0.4s ease-out;
}

.blurFade.inView {
  opacity: 1;
  transform: translateY(-6px);
  filter: blur(0);
}
