@import './typography.css';
@import 'swiper/css';
@import './scrollbar.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Font antialising */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 62.5%;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  body {
    font-feature-settings: 'ss01' 1;
  }

  .body-no-scroll {
    overflow: hidden;
  }

  table {
    height: 1px;
  } /* Will be ignored, don't worry. */
  tr {
    height: 100%;
  }

  td {
    height: 100%;
  }

  td > div {
    height: 100%;
  }

  main {
    min-height: 50vh;
  }
}

.imageSkew {
  transform: skew(-0.06turn, 18deg);
}

ol {
  list-style-type: decimal;
  padding-left: 30px;
}
