---
import DeployOnFleek from '@components/DeployOnFleek';
import ImpressUsers from '@components/ImpressUsers';
import BuildUseCases from '@components/BuildUseCases';
import ExplainerBlocks from '@components/ExplainerBlocks';
import SeamlessUI from '@components/SeamlessUI';
import BestOnchain from '@components/BestOnchain';
import PricingLanding from '@components/PricingLanding';
import ReadyToLive from '@components/ReadyToLive';
import settings from '@base/settings.json';
import V2BaseHtml from '@layouts/V2BaseHtml.astro';
import { Navbar } from '@components/v2/Navbar/Navbar';
import { Announcement } from '@components/v2/Announcement/Announcement';
import { FaChevronRight } from 'react-icons/fa6';
import Footer from '@components/Footer';
---

<V2BaseHtml
  canonicalUrl={settings.site.production.url}
  ogMeta={{
    title: settings.site.metadata.default.title,
    description: settings.site.metadata.default.description,
    slug: settings.site.metadata.default.slug,
    image: settings.site.metadata.default.image,
  }}
>
  <Navbar pathname={Astro.url.pathname} client:load />
  <div
    class="absolute left-0 top-0 -z-10 h-full w-full bg-gradient-to-br from-gray-dark-3/80 via-transparent to-transparent"
  >
  </div>
  <header class="flex flex-col justify-center gap-24 pt-64">
    <Announcement client:load />
    <section class="flex max-w-800 flex-col gap-24">
      <h1
        class="text-balance font-sans text-52 font-semibold leading-tight text-gray-dark-12"
      >
        Ship fast and break paradigms.
      </h1>
      <p class="text-balance font-plex-sans text-18 font-medium">
        Fleek is an edge-optimized cloud platform for building, shipping and
        scaling highly-performant Web apps. Escape the costs, constraints and
        nonsense of Big Cloud.
      </p>
      <div class="flex items-center gap-12">
        <button
          class="h-40 rounded-12 bg-yellow-dark-9 px-16 font-plex-sans text-16 font-medium text-gray-dark-1"
          >Get started</button
        >
        <button
          class="flex h-40 items-center gap-8 px-16 font-plex-sans text-16 font-medium text-gray-dark-11"
          >Read our docs <FaChevronRight className="size-12" /></button
        >
      </div>
    </section>
  </header>
  <!-- <DeployOnFleek client:load rounded="all-big" />
  <ImpressUsers client:load rounded="all-big" />
  <ExplainerBlocks index={1} header="Enjoy the (Developer) Experience" />
  <SeamlessUI client:load rounded="all-big" />
  <BuildUseCases client:load rounded="all-big" />
  <ExplainerBlocks index={2} header="We've Got You Covered" />
  <BestOnchain rounded="all-big" />
  <PricingLanding client:load rounded="all-big" />
  <ReadyToLive client:load rounded="all-big" />
  <Footer client:load /> -->
</V2BaseHtml>
