---
export interface Props {
  title: string;
}

const { title = 'title' } = Astro.props;
---

<button
  slot="tab"
  class="text-sm inline-flex whitespace-nowrap border-b-2 border-transparent px-24 py-2 font-medium text-gray-300 transition-all duration-200 ease-in-out hover:rounded-t-10 hover:border-b-gray-dark-6 hover:bg-yellow-dark-2 hover:text-yellow aria-selected:border-b-yellow aria-selected:text-yellow"
>
  {title}
</button>
<div slot="panel" class="-mt-[2px] border-t-2 border-gray-dark-6 pt-6">
  <slot />
</div>
