.Root {
  all: unset;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 0.25rem;
  border: 1px solid #484848;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: '$all-75';
  margin-top: 3px;
}

.Root:hover {
  border-color: #cecece;
  cursor: pointer;
}
[data-state='checked'] {
  background-color: #ffe629;
  border-color: transparent;
}

.Root[data-disabled] {
  border-color: #bbbbbb;
  background-color: transparent;
  cursor: not-allowed;
}

.Indicator {
  color: black;
}

.Indicator[data-disabled] {
  color: grey;
}
