---
import { publicAgents } from '@components/PublicAgents/config';

export function getStaticPaths() {
  return publicAgents.map(({ slug }) => ({
    params: {
      agent: slug,
    },
  }));
}

const { agent } = Astro.params;
---

<div>Good dog, {agent}!</div>
