---
import '@styles/globals.css';
import '@styles/blogPage.css';
import settings from '@base/settings.json';

import BaseHtml from './BaseHtml.astro';
import InjectCodeCopy from '@components/InjectCodeCopy.astro';

const { title, description, slug } = Astro.props;
const image = settings.site.metadata.blog.image;
---

<BaseHtml
  title={title}
  ogMeta={{
    title,
    description,
    image,
    slug,
  }}
>
  <main class="container min-h-container">
    <slot />
  </main>
  <InjectCodeCopy />
</BaseHtml>
