name: ⚡️ Deploy Dashboard (Staging)

on:
  workflow_dispatch:
  push:
    branches:
      - develop

jobs:
  deploy-to-staging:
    uses: ./.github/workflows/fleek-deploy-common.yml
    with:
      environment: staging
    secrets:
      fleek_token: ${{ secrets.FLEEK_TOKEN }}
      doppler_token: ${{ secrets.DOPPLER_TOKEN }}
