name: ⚡️ Deploy Dashboard (Production)

on:
  workflow_dispatch:
  push:
    branches:
      - main
  # The workflow's dispatched on Release by develop hash
  repository_dispatch:
    types: [Release]

jobs:
  deploy-to-staging:
    uses: ./.github/workflows/fleek-deploy-common.yml
    with:
      environment: production
    secrets: inherit
